<li>
	{{burger_name}}

	<button class="devour" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}Devour!{{else}}Resurrect this burger!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Take it Away!</button>
</li>
